# ML + NLP
torch==2.2.0 --index-url https://download.pytorch.org/whl/cpu
transformers==4.36.2
accelerate
huggingface_hub

# API
fastapi
uvicorn
pydantic==1.10.11
python-multipart

# Utils
numpy==1.26.4
pandas
scikit-learn
